@use "../utilities/variables" as*;
@use "../utilities/mixin"as*;

.seccion-clara {
    background-color: #ffffff;
    color: #333;
    padding: 60px 0;
    width: 100%;
}

.marcas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    align-items: center;
    max-width: $ancho-maximo;
    margin: 0 auto;
}

.marca-item img {
    width: 100%;
    max-width: 120px;
    filter: grayscale(100%);
    opacity: 0.6;
    transition: all 0.4s ease;

    &:hover {
        filter: grayscale(0%);
        opacity: 1;
        transform: scale(1.1);
    }
}

.nosotros-flex {
    display: flex;
    align-items: center;
    gap: 50px;
    max-width: $ancho-maximo;
    margin: 40px auto;
    padding: 20px;
}

.nosotros-imagen img {
    width: 100%;
    border-radius: $redondeo-fuerte ;
    border: 3px solid $color-principal;
}

.nosotros-imagen,
.nosotros-texto {
    flex: 1;
}

.nosotros-imagen {
    position: relative;

    &::before {
        content: "♪";
        position: absolute;
        top: -20px;
        left: -20px;
        font-size: 3rem;
        color: $color-principal;
        opacity: 0.5;
        transition: transform 0.5s ease, opacity 0.5s ease;
    }

    &:hover::before {
        transform: scale(1.2) rotate(20deg);
        opacity: 1;
    }
}



.producto-card img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    padding: 20px;
    background-color: #f9f9f9;
}

.lista-ventajas {
    list-style: none;
    padding: 0;
    li {
        margin-bottom: 10px;
        color: $color-texto;
        font-weight: 500;
        
        &::before {
            content: "→"; 
            color: $color-principal;
            margin-right: 10px;
            font-weight: bold;
        }
    }
}

.info-extra {
    h4 {
        @include brillo-neon($color-principal);
        font-size: 1.1rem;
        margin-bottom: 10px;
    }
    p {
        font-family: $fuente-cuerpo;
        border-left: 2px solid $color-secundario;
        padding-left: 10px;
        margin-bottom: 5px;
    }
}

.grid-cursos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1100px;
    margin: 30px auto;
    padding: 20px;
}

.curso-card img {
  height: 200px;        
  width: 100%;
  object-fit: cover;    
  border-radius: 12px;  
  padding: 0;           
  margin-bottom: 15px;
  border: 1px solid rgba(0, 168, 204, 0.1); 
}

.container-faq {
    
    max-width: 1000px; 
    margin: 0 auto;
    padding: 0 15px; 
}

