$color-principal:      #00a8cc;     
$color-secundario:     #f39c12;     
$color-oscuro:         #0d1b2a;     
$color-fondo:          #f4f4f4;     
$color-texto:          #333;     
$color-blanco:         #ffffff;     
$color-sombra-pedal:   #007a94;     
$color-sombra-naranja: #d35400;     

// 3. Medidas y Espaciados
$aire-lateral:         5%;          
$espacio-bloque:       20px;        
$ancho-maximo:         1100px;      
$borde-grueso:         5px;         

// --- Redondeos ---
$redondeo-fuerte:      150px 0 150px 0; 
$redondeo-caja:        12px;            
$redondeo-pedal:       8px;
// 5. Fuentes
$fuente-titulos:       'Orbitron', sans-serif;
$fuente-cuerpo:        'Segoe UI', Arial, sans-serif;