@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        opacity: 1;
    }
    20%, 24%, 55% {
        opacity: 0.7;
    }
}

$transicion-suave: 0.3s ease;
$transicion-rapida: 0.1s ease;
$transicion-intermedia: 0.4s ease;
$transicion-lenta: 0.5s ease;
/* Entrada suave para las Cards */
@keyframes entradaSuave {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.curso-card {
    animation: entradaSuave 0.6s ease-out;
}

