@use "../utilities/variables" as*;
@use "../utilities/mixin"as*;

body {
    background-color: $color-fondo; 
    font-family: $fuente-cuerpo;
    color: $color-texto;
    line-height: 1.6;
    margin: 0;
}

h1 {
    @include brillo-neon($color-principal);
    font-family: $fuente-titulos;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
    animation: flicker 3s infinite alternate; 
}

h2, h3 {
    color: $color-principal; 
    font-family: $fuente-titulos;
    text-transform: uppercase;
    border-left: 4px solid $color-principal;
    padding-left: 12px;
    margin-top: $espacio-bloque;
}



.form-control:focus {
    border-color: $color-principal;
    box-shadow: 0 0 10px rgba($color-principal, 0.5);
    background-color: #fff;
    outline: none;
}
